<form role="form">
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-5">
            <h2 class="form-login-heading">Login</h2>
            <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
            <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>

            <button class="btn btn-md btn-info btn-block" style="margin-top: 1%" type="submit" data-ng-click="login()">Login</button>
              <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </div>
        <div class="col-md-5" align="center">
            <h2 class="form-login-heading">Social Logins</h2>
            <button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
            <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
            <a href="#/signup">
                <h4 class="form-login-heading">Not registered yet?</h4>
            </a>
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
</form>