#feeds-list {
    list-style-type: none;
    -webkit-padding-start: 5%;
    margin: 0;
    padding: 0;
}
#votes-count {
    position: fixed; 
    float: right
}
.avatar {
    horiz-align: left;
    vertical-align: top;
    width: 100%
}
.avatar-container {
    display: table-cell;
    height: auto;
    width: 10%
}
.comment-container {
    padding-left: 3%;
    display: table-cell;
    clear: right;
    position: relative
}
.footer-votes {
    float: right;
    width: 15px;
    height: auto;
    margin: 0 0 2% 5px
}
.comment-footer {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin: 0 0 3%
}
